<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Central University of Ecuador</title>
</head>
<body>
    <h1>Central University of Ecuador</h1>
    <h2>Distributed Programming</h2>
    <h3>Bryan Aguirre</h3>
    <p>"Did you know that there are more planes in the sea than ships in the sky?"</p>
    <p>This project has been created in: <strong>Python (Flask)</strong></p>
    <img src="{{ url_for('static', filename='icono.png') }}" alt="Python Icon" width="300">
</body>
</html>